@import "variables";
header{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.head{
	width: 70%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3rem 0 2rem; 
	img{
		width: 100%;
	}
	a{
		flex-basis: 25%;
	}
}

nav{
	flex: 1;
	ul{
		display: flex;
		justify-content: space-evenly;
		list-style: none;
		li{
			font-size: 28px;
			text-transform: uppercase;
			a{ 
				position: relative; 
				&::after{
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 2px;
					background: $accents;
					transform: scaleX(0);
					transform-origin: right;
					transition: transform 250ms ease-in;
				}
				&:hover::after {
					transform: scaleX(1);
					transform-origin: left;
				}
			}
		}
	}
}

.active{
	position: relative;
}
.active::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: $accents;
	transform: scaleX(.75);
	transform-origin: right;
}
.active:hover::before {
	transform: scaleX(0);
}
