@import "variables","nav";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

// all pages
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

html{
	font-size: 24px;
}

body{
	background: $bg-col;
}

h1{
	color: $font-col;
}

.heading{
	font-weight: bold;
	font-size: 48px;
	text-transform: uppercase;
	padding: 2rem; 
}

p, label, a, i{
	color: $font-col;
	text-decoration: none;
}

.text{
	font-weight: 300;
	font-size: 24px; 
	line-height: 1.6;
}

.spacing{
	margin-bottom: 5rem;
}

.Xspacing{
	margin-bottom: 10rem;
}

.container{
	text-align: center;
	width: 70%;
	margin: auto;
	padding-right: 3rem;
}

footer p{
	padding: 3rem;
	color: #474747;
	font-size: 16px;
}

// home page
.about{
	display: flex;
	text-align: right;
	p{
		padding: 0 10px 0 2rem; 
		border-right: 2px solid $accents;
	}
}

.culture{
	display: block;
	position: relative;
	margin-top: 3rem;
}

.culture__left-align{
	text-align: left;
	width: 40%;
	padding: 1rem 10px; 
	position: relative;
	&::after{
		content: "";
		position: absolute;
		top: 1rem;
		left: 0;
		width: 2px;
		height: 130%;
		background: $accents;
	}
}

.culture__right-align--div{
	text-align: right;
	width: 35%;
	position: absolute;
	right: 0;
	top: 40%;
}

.culture__right-align--text{
	padding: .5rem 1rem 0 0;
	position: relative;
	&::after{
		content: "";
		position: absolute;
		top: .5rem;
		right: 0;
		width: 2px;
		height: 150%;
		background: $accents;
	}
}

#shirtlessImg{
	margin-top: 4rem;
}

.img50{
	width: 50%;
}

.dropIn{
	padding: 2rem;
}

// artists page
.artist{
	width: 100%;
	display: flex;
}

.artist__text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 100;
	width: 1600px;
}


// artists text specific positioning
.artist__text--craigy{
	transform: translate(9%,80px);
	width: 118%;
	text-align: left; 
}

.artist__text--steph{
	transform: translate(9%,-100px);
	width: 118%;
	text-align: left; 
}

.artist__text--sholto{
	transform: translate(-9%,-140px);
	width: 118%;
	text-align: right; 
}

.artist__text--zoe{
	transform: translate(-9%,-140px);
	width: 118%;
	text-align: right; 
}

.artist__pic{
	flex-basis: 100%;
	position: relative;
	img{
		width: 100%;
		max-height: 700px;
	}
}

.artists__name{
	color: #000;
	padding: 1rem;
	z-index: 100;
	position: absolute;
}

.align-right{
	text-align: right;
	right: 0;
	top: 0;
}

.align-left{
	text-align: left;
	left: 0;
	top: 0;
}

.viewMoreBtn{
	padding: 1rem;
	font-size: 32px;
	font-weight: bold;
	color: #000;
	border-radius: 5px;
	background: $accents;
	border: none;
	outline: none;
	transform: translateY(140px); 
	cursor: pointer;
}

// booking page
.booking__info{
	text-align: left;
}

.infos{
	padding: 1rem;
}
.booking__headings{
	color: $accents;
	font-weight: bold;
}


